{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://picsum.photos/1900/500?random=1" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/1900/500?random=2" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/1900/500?random=3" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<div class="container-fluid col-12">
		<h1 class="text-center">Top vente</h1>
		<div class="row">
			{% for produit in produits %}
				<div class="col-sm-6 col-xl-3 text-center">
					<a class="text-decoration-none link-dark" href="{{path('app_produit_show', {'id': produit.id}) }}">
						<div class="text-center m-3">
							<img class="img-thumbnail" src="{{asset('img/produits/' ~ produit.picture)}}">
						</div>
						<p class="text-center">{{produit.name}}</p>
						<p class="text-center">{{produit.price}}
							€</p>
					</a>
					<button href="{{path("app_cart_add", {id: produit.id})}}" class="btn btn-secondary mb-1">
						Ajouter au panier
					</button>
					{% if is_granted('ROLE_USER') %}
						<form method="post" action="{{ path('app_produit_add_favoris', {'id': produit.id}) }}">
							{% if app.user.getFavoris().contains(produit) %}
								<button class="btn btn-primary mb-1">Supprimer des Favoris</button>
							{% else %}
								<button class="btn btn-primary mb-1">Ajouter aux Favoris</button>
							{% endif %}
						</form>
					{% endif %}
				</div>
			{% else %}
				<tr>
					<td colspan="8">Pas de produit trouvé</td>
				</tr>
			{% endfor %}
		</div>
	</div>
{% endblock %}
