{% extends 'base.html.twig' %}

{% block title %}Création de commande
{% endblock %}

{% block body %}
	<div class='container'>
		<h1 class='text-center'>Création de commande</h1>
		<div class='row'>
			<div class='col-6'>
				<p class='text-center'>Information livraison</p>
				{{ form_start(form)}}
				<p>Adresse livraison</p>
				{{ form_row(form.addresses_liv)| replace({'[-br]' : '</br>'})|raw}}
				<p>Adresse facturation</p>
				{{ form_row(form.addresses_fac)| replace({'[-br]' : '</br>'})|raw}}
			</div>
			<div class='col-6'>
				<p class='text-center'>Récapitulatif</p>
				<table class="table">
					<thead>
						<tr>
							<th>Produit</th>
							<th class="text-center">Prix</th>
							<th class="text-center">Quantité</th>
							<th class="text-end">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for element in dataCart %}
							<tr>
								<td class="text-start col-3">
									<img src="{{asset('img/produits/' ~ element.produit.picture)}}" class="img-min">
									<div>{{element.produit.name}}</div>
								</td>
								<td class="col-3 text-center">{{element.produit.price}}€</td>
								<td class="col-3 text-center">{{element.quantite}}</td>
								<td class="text-end">{{element.quantite * element.produit.price}}€</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5" class="text-center">
									Votre panier est vide</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total</td>
						<td class="text-end">{{total}}€</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
			<div class='text-center'>
				<button class="btn btn-primary" type="submit">Valider votre commande
				</button>
			</div>
			{{ form_end(form)}}
		</div>
	</div>
</div>{% endblock %}
